* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: #EEF3F9;
}
.container{
    width: 625px;
    margin: auto;
    font-family:"Mulish", sans-serif;
}

.header{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    width: 625px;
    height: 211px;
    background-color: #20225E;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dot {
    height: 46px;
    width: 46px;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F316E;
    margin: 20px;
  }
.header h1 {
    font-size: 32px;
}

.body {
    background-color:#ffffff;
    text-align: center;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.form{
    padding-top: 65px;
    display: inline-block;
    color: #151749;
}

.content{
    font-size: 14px;
}
.input {
    width: 391px;
    text-align: left;
    margin-bottom: 40px;
}

.text-field input {
    margin-top: 14px;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid #D3D5F1;
    padding-bottom: 13px;
}

.text-field input::placeholder {
    color: #151749;
    margin-bottom: 13px;
}

.combo-box {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid #D3D5F1;
    color: #151749;
    margin-top: 14px;
    padding-bottom: 13px;
}

.btn-submit {
    border-radius: 30px; 
    padding: 27px 93px; 
    background-color: #20225E; 
    color: #fff; 
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 70px;
}