@import url("https://fonts.googleapis.com/css?family=IBM Plex Sans");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgba(177, 185, 216, 1);
    background-color: rgba(26, 32, 54, 1);
}

.container {
    background-color: rgba(37, 43, 66, 1);
    display: flex;
    width: 975px;
    padding: 35px;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
}

.menu {
    font-size: 32px;
    background-color: rgba(26, 32, 54, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}

.category {
    padding: 13px;
    margin: 7.5px 15px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.gr {
    background-color: rgba(36, 43, 66, 1);
}
.Show {
    padding: 35px 40px;
    font-weight: 700;
    font-size: 26px;
}

.header {
    display: flex;
    justify-content:space-between;
    font-size: 26px;
    align-items: center;
    margin-bottom: 25px;
}

.reback {
    font-family: "Merriweather";
}

.view {

}
.small-icon{
   background-color: rgba(26, 32, 54, 1);
   padding: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.list {
    border: 2px solid rgba(26, 32, 54, 1);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.view {
    display: flex;
}

.groups {
    display: flex;
    flex-wrap: wrap;  
    margin-left: -10px;
    margin-right: -10px;
}

.group.create {
    text-align: center;
    background-color: rgba(46, 54, 80, 1);
    border-radius: 10px;
    margin: 10px;
    font-size: 56px;
    color: rgba(36, 43, 66, 1);
}

.group {
    width: calc(100% / 4 - 20px);
    height: 208px;
    background-color: rgba(26, 32, 54, 1);
    border-radius: 10px;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa-circle {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 12px;
    color: rgba(142, 102, 255, 1);
    font-size: 11px;
}
.img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.title {
    font-size: 14px;
    font-weight: 400;
    color: rgba(135, 149, 197, 1);
    font-family: "IBM Plex Sans";
    margin-top: 15px;
    margin-bottom: 5px;
}

.content {
    font-size: 18px;
    font-weight: 700;
    font-family: "Merriweather";
    margin-top: 15px;
    margin-bottom: 5px;
}

.members {
    font-size: 14px;
    font-weight: 400;
    font-family: "IBM Plex Sans";
}