* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "IBM Plex Sans";
}
.header {
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 22px;
    text-decoration: none;
    color: #14203E3D;
    font-weight: 700; 
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style-type: none;
}
.menu-item {
    margin: 0px 28px;
}
.menu-link {
    font-size: 18px;
    color: #14203E;
    text-decoration: none;

}

.btn-login {
    padding: 13px 30px;
    border-radius: 10px;
    background-color: #F6F0E8;
    border: #F6F0E8;
    color: #000;
    font-size: 18px;
}

.btn-free-trial {
    padding: 13px 30px;
    border-radius: 10px;
    background-color: #14203E;
    border: #14203E ;
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 130px ;
    padding-bottom: 130px ;
    background-color: rgba(255, 252, 248, 1);
    
}

.hero-content {
    width: 600px;
}

.hero-title {
    font-size: 66px;
    font-weight: 700;
    color: #14203E;
}

.hero-desc {
    color: #14203E;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero-button {
    padding: 25px 40px;
    border-radius: 10px;
    background-color: #14203E;
    color: #fff;
    font-size: 18px;
}

.articles {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 62px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.title-line {
    width: 100px;
    height: 1px;
    background-color: #14203E33;
}
.title-text {
    font-size: 14px;
    color: rgba(20, 32, 62, 1);
    margin-left: 15px;
    margin-right: 15px;
}

.article-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.article-item {
    margin: 15px;
    text-align: left;
}

img {
    display: block;
}

.article-thumb {
    width: 100%;
}

.article-title {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.article-link {
    text-decoration: none;
    color: rgba(20, 32, 62, 1);
    font-size: 22px;
    font-weight: 700;
}

.article-time {
    color: rgba(20, 32, 62, 1);
}